<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cover Letter - Alessandro Ciocchetti</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
  </head>
  <body id="page-top">

      <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <p class="navbar-brand js-scroll-trigger">
        <span class="d-block d-lg-none">My Cover Letter</span>
        <span class="d-none d-lg-block"><%= image_tag("1.jpg", class: "img-fluid img-profile rounded-circle mx-auto mb-2") %> </span>
      </p>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item"><p class="nav-link js-scroll-trigger">My Cover Letter</p></li>
          <li class="nav-item"><p class="nav-link js-scroll-trigger"><%=link_to 'My CV', cv_path %> </p></li>
        </ul>
      </div>
    </nav>
  <!-- Page Content-->
    <div class="container-fluid p-0">
      <!-- About-->
      <section class="resume-section" id="about">
          <div class="resume-section-content">
            <h1 class="mb-0">
              Alessandro
              <span class="text-primary">Ciocchetti</span>
            </h1>
            <div class="subheading mb-5">
              +39 340 410 7694 ·
              <a href="mailto:name@email.com">aless.ciocchetti@gmail.com</a> <br><br> Al Team BENDING SPOONS
            </div>
            <p class="lead mb-5">
              Gentilissimi, <br><br>
              dopo aver scoperto tramite Vostro sito e Vostra pagina LinkedIn alcune interessanti posizioni aperte in Bending Spoons, mi sono deciso a scrivere questa Cover Letter.<br>
              Ho approfittato della pausa estiva per cercare di rendere la mia presentazione il più originale possibile, in modo tale che potesse raccontarmi già nella sua forma oltre che nel contenuto. Ed ecco la web-app. <br> Gli strumenti che ho utilizzato per costruirla sono il framework Ruby on Rails con back-end gestito tramite Ruby e front-end tramite HTML5 e CSS/SCSS. <br>
              Sono laureato magistrale in Ingegneria Gestionale/Industriale a Bologna (voto 108/110) e da un anno e mezzo lavoro per un'ottima società di consulenza direzionale per i mercati Retail, Industria e Servizi a Bologna<br>
              L'ambiente consulenziale, come si sa, è un ambiente molto dinamico e in cui si può imparare davvero tanto in poco tempo. Questa caratteristica si abbina bene alla mia costante volontà di apprendimento.
              <br> Credo poi che avere il tempo e il modo di apprendere qualcosa che per di più ci piace apprendere sia un privilegio... e quindi voglio provare a perseguirlo ulteriormente.<br>
              Vi introduco alle mie passioni:
              <br>1. PENSARE  - la metto al primo posto perchè da questa derivano le altre. Mi impegno quotidianamente a rimanere mentalmente stimolato, di conseguenza ai lavori ripetitivi e strutturati preferisco per esempio quelli in cui si deve trovare una soluzione che inizialmente non c'era.
              <br>2. IT e LINGUAGGI DI PROGRAMMAZIONE  - mondo che mi affascina incredibilmente e che finora ho sempre studiato da autodidatta e che spero quanto prima possa diventare anche parte della mia vita professionale. Oltre agli strumenti citati sopra, conosco Python (che al momento utilizzo insieme alle sue librerie per studiare i concetti dell'algorithmic trading di stock azionari), SQL, Visual Basic e MS Excel (quest'ultimo spererei di usarlo sempre meno a favore di strumenti più efficaci).
              <br>3. ARTI  - do tanto valore al mio tempo libero, perchè sono i momenti in cui costruisco la mia persona. Sono oggi felice di potermi dire un discreto armonicista e un buon cultore del cinema e della letteratura.
              <br>4. NATURA  - amo la montagna, il mare, il trekking e lo studio degli animali. Ho percorso in compagnia del mio cane (Paki) nel 2015 la "Via degli Dei" e nel 2021 la "Via della Lana e della Seta".
              <br>Il lavoro ideale per me è quello che riesca a conciliare questi 4 punti. E penso che con voi ci si possa riuscire.
              <br>Nella speranza di potermi raccontare con più completezza in una prossima occasione, Vi lascio con i migliori saluti, <br>
              <br>Alessandro<br>

              <%= image_tag('nospoons.gif') %>
            </p>
            <div class="social-icons">
              <a class="social-icon" href="https://www.linkedin.com/in/alessandro-ciocchetti-281217152/", target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </section>
        <hr class="m-0" />

      <hr class="m-0" />
    </body>
</html>
