<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cover Letter - Alessandro Ciocchetti</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <style media="screen">
      input[type='checkbox'] { display: none; }
      .wrap-collabsible { margin: 1.2rem 0; }
      .lbl-toggle { display: block; font-size: 0.9rem; font-family: "Segoe UI"; text-align: center; padding: 1rem; color: #FFF; background: #BD5D38; cursor: pointer; border-radius: 7px; transition: all 0.9s ease-out; }
      .lbl-toggle::before { content: ' '; display: inline-block; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid currentColor; vertical-align: middle; margin-right: .7rem; transform: translateY(-2px); transition: transform .8s ease-out; }
      .toggle:checked+.lbl-toggle::before { transform: rotate(90deg) translateX(-3px); }
      .collapsible-content { max-height: 0px; overflow: hidden; transition: .2s ease-in-out; }
      .toggle:checked + .lbl-toggle + .collapsible-content { max-height: 100%; }
      .toggle:checked + .lbl-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
      .collapsible-content .content-inner { background:#f7e7e1; border-bottom: 1px solid #BD5D38; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; padding: .5rem 1rem; }
      .collapsible-content p { margin-bottom: 4; }
    </style>
  </head>
  <body id="page-top">

      <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <p class="navbar-brand js-scroll-trigger">
        <span class="d-block d-lg-none">My Cover Letter</span>
        <span class="d-none d-lg-block"><%= image_tag("1.jpg", class: "img-fluid img-profile rounded-circle mx-auto mb-2") %> </span>
      </p>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item"><p class="nav-link js-scroll-trigger">My Cover Letter</p></li>
          <li class="nav-item"><p class="nav-link js-scroll-trigger"><%=link_to 'My CV', en_path %> </p></li>
        </ul>
      </div>
    </nav>
  <!-- Page Content-->
    <div class="container-fluid p-0">
      <!-- About-->
      <section class="resume-section" id="about">
        <div class="resume-section-content">
          <h1 class="mb-0">Alessandro <span class="text-primary">Ciocchetti</span></h1>
          <div class="subheading mb-5">
            +39 340 410 7694 ·
            <a href="mailto:name@email.com">aless.ciocchetti@gmail.com</a> <br><br>
            All'attenzione di Bending Spoons
          </div>


            <!-- per le aziende -->

          <div class="wrap-collabsible">
            <input id="collapsible" class="toggle" type="checkbox">
            <label for="collapsible" class="lbl-toggle">C'era una volta una vecchia candidatura: settembre 2021 </label>
              <div class="collapsible-content">
              <div class="content-inner">
                <p class="lead mb-5" style = "font-size: 0.8rem; font-family: 'Segoe UI'; "><i>
                  Ciao,<br>
                  sono felice di potermi presentare e potervi presentare la mia candidatura.
                  Ho approfittato dell'occasione per cercare di rendere la mia presentazione il più originale possibile, in modo tale che potesse raccontarmi già nella sua forma oltre che nel contenuto. <br> Ho creato personalmente questa web app e gli strumenti/linguaggi che ho utilizzato sono il framework Ruby on Rails con back-end gestito con Ruby e front-end HTML5 e CSS/SCSS. <br>
                  Sono laureato magistrale in Ingegneria Gestionale-Industriale a Bologna e da un anno e mezzo lavoro per un'ottima società di consulenza direzionale per i mercati Retail, Industria e Servizi a Bologna.<br>
                  L'ambiente consulenziale è un ambiente molto dinamico e in cui si può imparare davvero tanto in poco tempo. Questa caratteristica si abbina bene alla mia costante volontà di apprendimento.
                  <br>Credo poi che avere il tempo e il modo di apprendere qualcosa che per di più ci piace apprendere sia un privilegio... e quindi voglio provare a perseguirlo ulteriormente.<br>
                  Vi introduco [...]</i>
                </p>
              </div>
            </div>
          </div>
          <div >
            <p class="lead mb-4 mt-4">
              Ben ritrovati, Spooners!<br><br>
              riparto dalla storia. Veloce riassunto da dove ci eravamo lasciati a oggi: sento parlare di Bending Spoons come realtà italiana giovane e ambiziosa, mi candido per una posizione aperta per Data Analyst,
              supero la fase di screening dei CV, supero la prima fase di quiz, non supero (<i>sigh...</i>) l'ultima fase di quiz prima dei colloqui, che delusione!, me ne dispiaccio, mi candido alle selezioni del Master in Data Science all'Università di Informatica di Pisa,
              vinco le selezioni rientrando tra i primi 30, decido di lasciare il mio lavoro per dedicarmi a ciò che mi appassiona, comincio il Master, sto per concluderlo, vedo su LinkedIn una posizione aperta per Data Scientist,
              preparo questa cover letter. Oggi. <br>
              Oggi vi ringrazio perchè, insomma, quel rammarico di non essere riuscito a superare le selezioni mi ha motivato enormemente.
              Mando questa candidatura perchè so di poterci allegare anche un buon bagaglio di conoscenze e di consapevolezza in più.
              Sono di nuovo pronto per risolvere qualche altro vostro quiz 😁 <br>
              Nella speranza di trovarvi ancora interessati,<br>
              vi saluto.<br>
              Con simpatia, <br>
              Alessandro
            </p>
          </div>
          <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/alessandro-ciocchetti-281217152/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/PaleAlex/cover-letter" target="_blank"><i class="fab fa-github"></i></a>
          </div>
        </div>




      </section>
    </div>
  </body>
</html>
